# Maven
build/
dist/
nbproject/
target/
dependency-reduced-pom.xml

# Netbeans
nb-configuration.xml
nb-actions.xml

# Eclipse
.settings/
.project
.classpath
.externalToolBuilders/
bin/
maven-eclipse.xml

# IntelliJ IDEA
.idea/
!.idea/codeStyleSettings.xml
*.iml

# Spoon
spooned-classes/
spooned/
doc/_jekyll/_site/
