language: java

dist: trusty

group: edge

jdk: openjdk8

env:
  global:
  - M2_HOME="/usr/local/maven"
  matrix:
#  - SCRIPT=travis-jdk8.sh
#  - SCRIPT=travis-jdk9.sh
  - SCRIPT=travis-jdk10.sh
  - SCRIPT=travis-jdk11.sh
  - SCRIPT=travis-coverage.sh
  - SCRIPT=travis-verify.sh
  - SCRIPT=travis-maven339-jdk8.sh
#  - SCRIPT=travis-spoon-decompiler.sh

script: ./chore/travis/$SCRIPT

cache:
  directories:
  - $HOME/.m2

before_cache:
  - rm -rf $HOME/.m2/fr/inria/ # delete all to be sure we always get last snapshot of spoon
