language: java

sudo: required

jdk:
  - oraclejdk8

# from https://docs.travis-ci.com/user/customizing-the-build
# A build on Travis CI is made up of two steps: install: (install any dependencies required), script: (run the build script)

install:
  - # download deps with maven
  - mvn dependency:resolve
  - pip install --user CommonMark requests
  - sudo apt-get install xmlstarlet
  
script: |
  # compiles and install
  mvn install -DskipTests &&

  # checks that it works with spoon-maven-pluging
  git clone https://github.com/square/javawriter.git &&
  cd javawriter &&  
  git checkout d39761f9ec25ca5bf3b7bf15d34fa2b831fed9c1 &&
  bash ../doc/jenkins/build.sh &&
  cd .. &&
  rm -rf javawriter &&

  # checkstyle, license, javadoc, animal sniffer.
  mvn verify site -DskipTests &&

  # the unit tests
  mvn test jacoco:report  &&

  # uploading coverage, but not failing
  mvn coveralls:report -Pcoveralls --fail-never &&

  # documentation
  python chore/check-links-in-doc.py

